@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * set colors and Bulma global variables
 * ----------------------------------------
 */

// Update Bulma's global variables
$family-sans-serif: "Ubuntu", "Nunito", sans-serif;
$dark: #393B41;
$darker: #2F3136;
$darkest: #202225;
$light: #F9F9F9;
$lighter: #FBFBFB;
$lightest: #FEFEFE;
$lightgray: #E0E0E0;
$text: $darkest;
$primary: #0F6FFF;
$primary-dark: $primary;
$secondary: #679436;
$success: $secondary;
$link: $secondary;
$link-hover: $text;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $lightest;
$bg-secondary: $light;
$navbar-background-color: $primary;
$navbar-item-color: $light;
$navbar-padding-vertical: 2rem;
$navbar-item-hover-background-color: #0D5BD0;
$navbar-item-hover-color: #FFF;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-hover-color: white;

nav * {
  font-weight: bold;
  letter-spacing: 0.05em;
}

/**
 * ----------------------------------------
 * scrollbar and user select style
 * ----------------------------------------
 */
// scrollbar
*::-webkit-scrollbar {
  width: 1em;
}

.prevroom-side::-webkit-scrollbar {
  width: 0.25em;
}

*::-webkit-scrollbar-track {
  background: $bg-secondary;
}

*::-webkit-scrollbar-thumb {
  background: $lightgray;
  border-radius: 1em;
}

*::-webkit-scrollbar-thumb:hover {
  background: $body-background-color;
}

//user selection
::-moz-selection {
  background: $primary;
  color: $body-background-color;
}

::selection {
  background: $primary;
  color: $body-background-color;
}

/**
 * ----------------------------------------
 * navigation bar style
 * ----------------------------------------
 */
.nav-button {
  @extend .button;
  border-radius: 2em !important;
  margin-right: 2em;
  align-self: center;
  max-width: 8em !important;
}

.navbar-item {
  text-align: center !important;
  cursor: pointer;
}

.is-success.nav-button, is-primary.nav-button {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .nav-button {
    margin: auto;
    margin-top: 1em;
  }
}

#swal2-title, #swal2-content {
  color: $text;
}

/**
 * ----------------------------------------
 * forms style
 * ----------------------------------------
 */
.labelform {
  @extend .label;
  color: $text !important;
  font-weight: bold;
}

.iconField {
  @extend .icon;
  @extend .is-small;
  margin: 0.2em 0.5em;
  transform: scale(0.8);
}

/**
 * ----------------------------------------
 * community style
 * ----------------------------------------
 */
textarea:focus, input:focus {
  outline: none;
}

.new-post {
  margin: auto;
  padding: 1em 2%;
  background-color: $bg-secondary;
  border-radius: 0 0 0.5em 0.5em;
  border: 2px solid $lightgray;
  border-top: 0;
  text-align: center;
}

.new-post-message {
  color: $text;
  font-size: 1em;
  padding: 1em 2em;
  background-color: $lightest;
  resize: vertical;
  margin: auto;
  width: 100%;
  border: none;
}

.userpost {
  color: $secondary;
  font-weight: bold;
}

.userpost2 {
  color: $primary;
  font-weight: bold;
}

.listposts {
  margin: auto;
  background-color: $light;
  border-bottom: 1px solid $dark;
}
.listposts {
  margin: auto;
  background-color: $light;
  padding-bottom: 1em;
}

.messagecontent {
  word-break: break-all;
  margin: 0 0.6em 0.3em 0.6em;
  background-color: $body-background-color;
  border-radius: 0.1em;
}

.new-comment {
  display: grid;
  grid-template-columns: 2em auto 8em;
  align-items: start!important;
  padding: 1em 0;
  border-bottom: 1px solid $dark;
}

.new-comment-message {
  color: $text;
  font-size: 1em;
  padding: 0.5em;
  background-color: $lightest;
  resize: vertical;
  margin: auto;
  width: 100%;
  border: none;
}
/**
 * ----------------------------------------
 * market style
 * ----------------------------------------
 */
.titlepage {
  display: block;
  margin: 0.4em auto;
  color: $primary;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;

}

/**
 * ----------------------------------------
 * imports from Bulma
 * ----------------------------------------
 */
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/helpers/all";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/grid/columns";
@import "../../node_modules/bulma-carousel/dist/css/bulma-carousel.min.css";
