@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * set colors and Bulma global variables
 * ----------------------------------------
 */
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Ubuntu", "Nunito", sans-serif;
$dark: #393B41;
$grey-dark: $brown;
$grey-light: $beige-light;
$text: #FDFFFC;
$primary: #F95F72;
$primary-dark: #A6081A;
$secondary: #fda806;
$success: $secondary;
$success-dark: #744C02;
$link: $secondary;
$link-hover: $text;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #2F3136;
$bg-secondary: #202225;
$navbar-background-color: $dark;
$navbar-padding-vertical: 2rem;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-hover-color: white;

/**
 * ----------------------------------------
 * scrollbar and user select style
 * ----------------------------------------
 */
// scrollbar
*::-webkit-scrollbar {
  width: 1em;
}

.prevroom-side::-webkit-scrollbar {
  width: 0.25em;
}

*::-webkit-scrollbar-track {
  background: $bg-secondary;
}

*::-webkit-scrollbar-thumb {
  background: $dark;
}

*::-webkit-scrollbar-thumb:hover {
  background: $body-background-color;
}

//user selection
::-moz-selection {
  background: $secondary;
  color: $primary
}

::selection {
  background: $secondary;
  color: $primary
}

/**
 * ----------------------------------------
 * navigation bar style
 * ----------------------------------------
 */
.nav-button {
  @extend .button;
  border-radius: 2em !important;
  margin-right: 2em;
  align-self: center;
  max-width: 8em !important;
}

.navbar-item {
  text-align: center !important;
}

.is-success.nav-button, is-primary.nav-button {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .nav-button {
    margin: auto;
    margin-top: 1em;
  }
}

#swal2-title, #swal2-content {
  color: $text;
}

/**
 * ----------------------------------------
 * forms style
 * ----------------------------------------
 */
.labelform {
  @extend .label;
  color: $text !important;
  font-weight: bold;
}

.iconField {
  @extend .icon;
  @extend .is-small;
  margin: 0.2em 0.5em;
  transform: scale(0.8);
}

/**
 * ----------------------------------------
 * imports from Bulma
 * ----------------------------------------
 */
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/helpers/all";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/grid/columns";
@import "../../node_modules/bulma-carousel/dist/css/bulma-carousel.min.css";
